body { min-width:0px; overflow-x: hidden; background: black; font-family: Tahoma, sans-serif; font-size: 14px; font-weight: bold; }
  header, section, footer { display: block; }
  #container { background-color: lightblue; margin: 0 auto; width: 300px; border: 2px solid black; }  
  header h1 { text-align: center; margin: 0; padding: 15px 0;}
  label { display: block; padding-bottom: 5px; text-align: center; }
  h1, h2, h3, h4, h5, h6, label, p {color: black;}
  #task { border: 1px solid #888; margin-left: 50px; width: 200px; }  
  #tasks { margin: 20px; padding: 0; }
  #tasks li { list-style-type: none; padding: 5px; }
  #tasks li:nth-child(2n) { background-color: white; }  /* same for 2n and 2n+1  #E359A7  */
  #tasks li:nth-child(2n+1) { background-color: white; }  
  #tasks li:hover { background-color: lightpink; } 
  #tasks li a { color: lightgrey; display: block; float: right; text-decoration: none; }