body { min-width:0px; overflow-x: hidden; background: white; font-family: Tahoma, sans-serif; font-size: 14px; font-weight: bold; }
  header, section, footer { display: block; }
  #container { background-color: #3858C2; margin: 0 auto; width: 300px; border: 5px solid black; }  
  header h1 { text-align: center; margin: 0; padding: 15px 0;}
  label { display: block; padding-bottom: 5px; text-align: center; }
  img { margin: 5px; border: 5px solid black; vertical-align: middle; width: 75px; height: 75px;}
  #task { border: 1px solid #888; margin-left: 50px; width: 200px; }  
  #tasks { margin: 20px; padding: 0; }
  #tasks li { list-style-type: none; padding: 5px; }
  #tasks li:nth-child(2n) { background-color: #FF6ED1; }  /* same for 2n and 2n+1  #E359A7  */
  #tasks li:nth-child(2n+1) { background-color: #FF6ED1; }  
  #tasks li:hover { background-color: #79E7ED; } 
  #tasks li a { color: red; display: block; float: right; text-decoration: none; }